.mod-config-modal-option-button {
  display: flex;
  align-items: center;

  .tip {
    flex: 2;
  }

  .option-button {
    flex: 1;
    text-align: right;

    svg {
      margin-right: 4px;
    }
  }
}
